# ENV [ dev | sta | test | prod ]
NODE_ENV=dev

# FASTIFY
FASTIFY_HOST=0.0.0.0
FASTIFY_PORT=3000

# RABBITMQ
RABBITMQ_PORT1=5672
RABBITMQ_PORT2=15672
RABBITMQ_USER=admin
RABBITMQ_PASS=guest
RABBITMQ_URL=localhost
RABBITMQ_QUANTITY=3
RABBITMQ_PREFETCH=1

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PWD=redispassword

# DRIZZLE
DB_CONNECTION=mysql
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=topzap
DB_PORT=3306

# MS
API_SCHEDULE=http://localhost:3004
BAILEYS_API_SECRET_KEY=devsecret

#SMS
TOKEN_SMS=asdasdasd
LOGIN_SMS=


## use essas variaveis se for subir mais de um container no msm host
COMPOSE_PROJECT_NAME=

CONTAINER_NAME=

# INIT CHATBOT
API_CAMPAIGN_INIT_CHATBOT=http://localhost:9010
CAMPAIGN_CHATBOT_API_KEY=

## user essas variaveis se for usar o rabbitmq no docker compose com rabbitmq
RABBITMQ_PORT1=5672
RABBITMQ_PORT2=15672
RABBITMQ_URL=rabbitmq

MESSAGE_FIXED_CAMPAIGN=⚠ Mensagem automática direcionada aos clientes. Se não desejar mais recebê-las, digite *NÃO* e retiramos seu contato da lista de envio. ⚠
SECRET_ACCESS_KEY=secretkey123
